---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((it) => ({
    params: { id: it.id },
    props: { project: it },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout>
  <div
    class="font-almarai grid min-h-screen grid-cols-1 gap-8 px-[8vw] pt-[12vh] pb-[12vh] text-white md:grid-cols-[60%_1fr] md:pt-[24vh] lg:px-[10vw]"
  >
    <div class="space-y-32">
      <div class="space-y-4">
        <h1 class="text-[4vh]/[5vh] md:text-[4vw]/[4.1vw]">{project.data.title}</h1>
        <span class="text-[1.5vh] text-white/50 lg:text-[1vw]">What</span>
        {project.data.offeredServices.map((it) => <h3 class="text-accent uppercase">{it}</h3>)}
        <span class="text-[1.5vh] text-white/50 lg:text-[1vw]">When</span>
        <h3 class="text-accent">{project.data.year}</h3>
        <span class="text-[1.5vh] text-white/50 lg:text-[1vw]">Where</span>
        <h3 class="text-accent">{project.data.location}</h3>
      </div>
      <div class="mb-8">
        <div class="text-accent mb-8 text-[1.5vh] tracking-[0.3em] uppercase lg:text-[0.75vw]">
          Case Anatomy
        </div>
        <ul
          class="grid grid-rows-3 gap-y-4 lg:grid-cols-[auto_1fr] lg:grid-rows-[auto_1fr] lg:gap-x-16"
        >
          <li class="grid lg:col-span-2 lg:row-span-2 lg:grid-cols-subgrid">
            <span
              class="text-accent text-[1.5vh] tracking-[0.3em] uppercase lg:col-start-1 lg:row-start-1 lg:self-end lg:text-[0.75vw]"
            >
              // The Room
            </span>
            <span class="text-[2vh] lg:col-start-2 lg:row-start-1 lg:text-[1.25vw]"
              >{project.data.room.headline}</span
            >
            <p class="text-[1.75vh] text-white/50 lg:col-start-2 lg:row-start-2">
              {project.data.room.sub}
            </p>
          </li>
          <li class="grid grid-cols-subgrid gap-y-2 lg:col-span-2 lg:row-span-2">
            <span
              class="text-accent text-[1.5vh] tracking-[0.3em] uppercase lg:col-start-1 lg:row-start-1 lg:self-end lg:text-[0.75vw]"
            >
              // The Tension
            </span>
            <span class="text-[2vh] lg:col-start-2 lg:row-start-1 lg:text-[1.25vw]"
              >{project.data.tension.headline}</span
            >
            <p class="text-[1.75vh] text-white/50 lg:col-start-2 lg:row-start-2">
              {project.data.tension.sub}
            </p>
          </li>
          <li class="grid grid-cols-subgrid gap-y-2 lg:col-span-2 lg:row-span-2">
            <span
              class="text-accent text-[1.5vh] tracking-[0.3em] uppercase lg:col-start-1 lg:row-start-1 lg:self-end lg:text-[0.75vw]"
            >
              // The Work
            </span>
            <span class="text-[2vh] lg:col-start-2 lg:row-start-1 lg:text-[1.25vw]"
              >{project.data.work.headline}</span
            >
            <p class="text-[1.75vh] text-white/50 lg:col-start-2 lg:row-start-2">
              {project.data.work.sub}
            </p>
          </li>
          <li class="grid grid-cols-subgrid gap-y-2 lg:col-span-2 lg:row-span-2">
            <span
              class="text-accent text-[1.5vh] tracking-[0.3em] uppercase lg:col-start-1 lg:row-start-1 lg:self-end lg:text-[0.75vw]"
            >
              // The Output
            </span>
            <span class="text-[2vh] lg:col-start-2 lg:row-start-1 lg:text-[1.25vw]"
              >{project.data.output.headline}</span
            >
            <p class="text-[1.75vh] text-white/50 lg:col-start-2 lg:row-start-2">
              {project.data.output.sub}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="space-y-4 font-light text-pretty">
      <Content />
    </div>
  </div>
</Layout>
